@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Oswald:wght@200;300;400;500;600&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@400;500;600&family=Smooch&family=Urbanist:ital,wght@0,300;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Hedvig", "Letters", "Serrif", serif !important;
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  box-sizing: border-box;
  background: rgb(2, 0, 36) !important;
  background: linear-gradient(90deg, rgb(2, 0, 36) 74%, rgb(0, 0, 18) 99%) !important;
}

.logo {
  font-family: "Hedvig", "Letters", "Serif";
  color: rgb(14, 0, 212);
}

/**********************************/
/*********** Back To Top Button **********/
/**********************************/
.back-to-top {
  border-radius: 100%;
  position: fixed;
  display: none;
  background: #0836cf;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  right: 50px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 9;
}

.back-to-top:hover {
  color: #ffffff;
  background: #121518;
}

.back-to-top i {
  padding-top: 10px;
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
  position: relative;
  transition: 0.5s;
  z-index: 999;
}

.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  box-shadow: 0px -26px 98px 5px rgba(255, 255, 255, 0.42);
}

.navbar .navbar-brand {
  margin: 0;
  font-size: 45px;
  line-height: 0px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.5s;
  font-family: "Bungee Spice", sans-serif;
}
.navbar .navbar-brand:hover {
  transform: scale(2);
}

.navbar .navbar-brand img {
  max-width: 100%;
  max-height: 40px;
}

@media (min-width: 992px) {
  .navbar {
    position: absolute;
    width: 100%;
    padding: 30px 60px;
    background: transparent !important;
    z-index: 9;
  }
  .navbar.nav-sticky {
    padding: 0px 60px;
    color: white;
    background: rgb(2, 0, 36) !important;
    background: linear-gradient(90deg, rgb(2, 0, 36) 74%, rgb(0, 0, 18) 99%) !important;
  }
  .navbar .navbar-brand {
    color: #ffffff;
  }
  .navbar.nav-sticky .navbar-brand {
    color: #ef233c;
  }
  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-nav .nav-link:focus {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar-light.nav-sticky .navbar-nav .nav-link,
  .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
    color: #fff;
  }
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link.active {
    color: rgb(0, 153, 235);
  }
  .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
  .navbar-light.nav-sticky .navbar-nav .nav-link.active {
    color: rgb(0, 153, 235);
  }
}
/*=========
====contact me button hover effect
==========*/
.my_link a {
  --color: #560bad;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 2em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 10px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
  text-decoration: none;
}
.my_link a::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}
.my_link a:hover {
  color: white;
}
.my_link a:hover::before {
  top: -30px;
  left: -30px;
}
.my_link a::before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

/*======================
=======Home Page=======
========================*/
#aboutme .image-col img {
  border-radius: 50%;
  box-shadow: 10px 2px 5px 10px rgba(0, 0, 0, 0.16), 0 2px 10px 10px rgb(9, 9, 255);
  background-color: #000000;
  padding: 10px;
  border-radius: 87% 13% 81% 19%/22% 80% 20% 78%;
  inset: 100px;
  width: 70%;
}
#aboutme .image-col .btn {
  margin-top: 40px;
  width: 70%;
  font-weight: 600;
  text-transform: uppercase;
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.my_buttons button {
  width: 10em;
  height: 3em;
  background-color: rgb(255, 255, 255);
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  color: rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #050088, -6px -6px 12px #122394;
}
.my_buttons button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #2d0fd8 0%, #47acf9 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.my_buttons button:hover::before {
  width: 10em;
}

/* ============================
========== About Section =====
 =============================*/
.heading {
  width: 93%;
  color: #0d0c15;
  text-align: center;
  font-size: 2rem;
  position: relative;
  margin-bottom: -5rem;
}
.heading::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 6px;
  background-color: blue;
  border-radius: 50px;
}

p {
  color: black;
  text-align: center;
}

.tab-titles {
  display: flex;
  color: #0d0c15;
  font-size: 1.5rem;
  margin: 20px 0 4 0px;
}

.tab-links {
  margin-right: 50px;
  font-style: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #ff004f;
  font-size: 18px;
  font-weight: bold;
}

.tab-contents {
  display: none;
  color: #0d0c15;
}

.tab-contents.active-tab {
  display: block;
}

#about .row .circle {
  background: rgb(2, 0, 36) !important;
  background: linear-gradient(90deg, rgb(2, 0, 36) 74%, rgb(0, 0, 18) 99%) !important;
  width: 390px;
  height: 390px;
  margin: auto;
  border: 4px solid rgb(0, 191, 255);
  border-radius: 100%;
  cursor: pointer;
  position: relative;
}
#about .row .circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 410px;
  height: 410px;
  border: 6px dashed rgb(0, 191, 255);
  border-radius: 50%;
  transform-origin: 0 0;
  animation: rotateRightAnimation 30s infinite;
}
#about .row .circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
  border: 6px dotted rgb(0, 191, 255);
  border-radius: 50%;
  transform-origin: 0 0;
  animation: rotateLeftAnimation 18s infinite;
}
#about .row .circle .img-box {
  position: absolute;
  bottom: 0;
  transform: translate(-50%), 0;
  width: 100%;
  border-radius: 20px 20px 200px 200px;
  overflow: hidden;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
#about .row .circle .img-box::before {
  content: "";
  position: absolute;
  top: 63%;
  left: 9%;
  width: 39px;
  height: 39px;
  background: #075cdb;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
  border-radius: 50%;
}
#about .row .circle .img-box::after {
  content: "";
  position: absolute;
  top: 54%;
  right: 15%;
  width: 30px;
  height: 30px;
  background: #3639ff;
  border-radius: 50%;
  z-index: 20;
}
#about .row .circle .img-box img {
  -webkit-box-shadow: 0px 0px 250px 100px rgba(19, 35, 138, 0.83);
  -moz-box-shadow: 0px 0px 250px 100px rgba(19, 35, 138, 0.83);
  box-shadow: 0px 0px 250px 100px rgba(19, 35, 138, 0.83);
  width: 130%;
  z-index: 1;
}

@keyframes rotateRightAnimation {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes rotateLeftAnimation {
  0% {
    rotate: 0;
  }
  100% {
    rotate: -360deg;
  }
}
/*-------------------------------------
        6.  Skills
--------------------------------------*/
#skills .container {
  margin-top: 5rem;
}
#skills .section-heading h2 {
  color: wheat;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 50px;
  border-bottom: 1px solid #e5ebf2;
}
#skills .single-progress-txt {
  display: flex;
  color: white;
}
#skills .single-progress-txt h3 {
  width: 10%;
  color: #ffffff;
  position: relative;
  left: 20px;
}
#skills .barWrapper {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}
#skills .barWrapper span {
  color: white;
}
#skills .progress {
  border-radius: 3px;
  overflow: visible;
  background: #e6ecf3;
  height: 8px;
  margin-top: 15px;
  width: 85%;
  margin-bottom: 37px;
}
#skills .progress-bar {
  background: #b636ff;
  border-radius: 3px;
  -webkit-transition: width 1.5s ease-in-out;
  -ms-transition: width 1.5s ease-in-out;
  -moz-transition: width 1.5s ease-in-out;
  -o-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}

/*==========================
========Service===============
==============================
*/
#service .card {
  border-radius: 100% 0% 100% 0%/26% 72% 28% 74%;
  width: 22rem;
  height: 18rem;
  transition: 0.5s;
  cursor: pointer;
}
#service .card:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 62px 7px rgb(77, 46, 255);
  -moz-box-shadow: 0px 0px 62px 7px rgb(77, 46, 255);
  box-shadow: 0px 0px 62px 7px rgb(77, 46, 255);
}

/*==========================
========Responsive Designe==
============================
*/
@media (max-width: 991px) {
  .navbar {
    padding: 15px;
    background: #ffffff !important;
  }
  .navbar .navbar-brand {
    color: #ef233c;
  }
  .navbar .navbar-nav {
    margin-top: 15px;
  }
  .navbar a.nav-link {
    padding: 5px;
  }
  #about .row .circle {
    width: 290px;
    height: 290px;
    margin: auto;
    border: 4px solid rgb(0, 191, 255);
    border-radius: 100%;
    cursor: pointer;
    position: relative;
  }
  #about .row .circle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 270px;
    border: 6px dashed rgb(0, 191, 255);
    border-radius: 50%;
    transform-origin: 0 0;
    animation: rotateRightAnimation 30s infinite;
  }
  #about .row .circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 230px;
    border: 6px dotted rgb(0, 191, 255);
    border-radius: 100%;
    transform-origin: 0 0;
    animation: rotateLeftAnimation 18s infinite;
  }
  #about .row .circle .img-box {
    position: absolute;
    bottom: 0;
    transform: translate(-50%), 0;
    width: 100%;
    border-radius: 20px 20px 200px 200px;
    overflow: hidden;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
  }
  #about .row .circle .img-box::before {
    content: "";
    position: absolute;
    top: 63%;
    left: 9%;
    width: 39px;
    height: 39px;
    background: #075cdb;
    -webkit-box-shadow: 0px 0px 250px 100px rgba(39, 6, 186, 0.83);
    -moz-box-shadow: 0px 0px 250px 100px rgba(138, 19, 59, 0.83);
    box-shadow: 0px 0px 250px 100px rgba(51, 97, 181, 0.83);
    border-radius: 50%;
  }
  #about .row .circle .img-box::after {
    content: "";
    position: absolute;
    top: 54%;
    right: 15%;
    width: 30px;
    height: 30px;
    background: #3639ff;
    border-radius: 50%;
    z-index: 20;
  }
  #about .row .circle .img-box img {
    width: 100%;
    z-index: 1;
  }
}

/*# sourceMappingURL=main.css.map */
